body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('photos/bb.jpeg');
    background-size: cover;
}

.search-bar {
    background: linear-gradient(to top, #17274d 0%, #2e3c64 100%);
    padding: 20px;
    text-align: right;
}

.grid-container {
    display: grid;
    grid-template-columns: 250px 760px auto; /* Los dos primeros grids tienen 200px de ancho, el tercero ocupa el resto */
    grid-auto-rows: auto;
    gap: 10px;
    padding: 20px;
}

.grid-item {
    padding: 20px;
    text-align: left;
}

.grid-PERFIL {
    background-color: #2e3c64;
    color: #fff;
    background: linear-gradient(to top, #17274d 0%, #2e3c64 100%);
}

.grid-SOBRE_MI {
    background-color: #2e3c64;
    color: #fff;
    background: linear-gradient(to top, #17274d 0%, #2e3c64 100%);
}

.grid-FOTO {
    background-color: #6086e0;
    color: #fff;
    background: linear-gradient(to top, #17274d 0%, #2e3c64 100%);
}

.grid-PUBLICACIONES {
    background-color: #2e3c64;
    color: #fff;
    grid-column: 1/3;
    background: linear-gradient(to top, #17274d 0%, #2e3c64 100%);
}

.grid-AMIGOS {
    background-color: #2e3c64;
    color: #fff;
    background: linear-gradient(to top, #17274d 0%, #2e3c64 100%);
}
